/* Общие стили */
h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

h2 {
  color: #555;
  font-size: 20px;
}


/* Стили для параграфов */
p {
  color: #777;
  font-size: 16px;
  line-height: 1.5;
}
/* Стили для мобильных устройств с максимальной шириной экрана 480px */
@media only screen and (max-width: 480px) {
  /* Ваши стили для мобильных устройств */
}

/* Стили для планшетов с шириной экрана от 481px до 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Ваши стили для планшетов */
}

/* Стили для десктопных устройств с шириной экрана от 769px и выше */
@media only screen and (min-width: 769px) {
  /* Ваши стили для десктопных устройств */
}